## Import Library

In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [2]:
datasplit = pd.read_csv("imdb_top_1000.csv")
datasplit.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,Crime,9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,Action,9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,Crime,9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,Crime,9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000

In [14]:
datasplit.dtypes

Poster_Link       object
Series_Title      object
Released_Year     object
Certificate       object
Runtime           object
Genre             object
IMDB_Rating      float64
Overview          object
Meta_score       float64
Director          object
Star1             object
Star2             object
Star3             object
Star4             object
No_of_Votes        int64
Gross              int64
dtype: object

## Data splitting

## Membagi dataset menjadi 2 variabel dgn perbandingan 70:30

In [3]:
x = datasplit.iloc[:, :-1]
y = datasplit.iloc[:, -1]

In [4]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [5]:
print("Dimensi x_train :", x_train.shape)
print("Dimensi x_test :", x_test.shape)
print("Dimensi y_train :", y_train.shape)
print("Dimensi y_test:", y_test.shape)

Dimensi x_train : (700, 15)
Dimensi x_test : (300, 15)
Dimensi y_train : (700,)
Dimensi y_test: (300,)

## Normalisasi 1 atribut

In [6]:
from sklearn.preprocessing import MinMaxScaler

In [7]:
minmax = MinMaxScaler()

## Normalisasi atribut 'Meta_score'

In [9]:
Normal = minmax.fit_transform(datasplit[['Meta_score']])
datanormalisasi = pd.DataFrame(Normal)
datanormalisasi.head(10)

          0
0  0.722222
1  1.000000
2  0.777778
3  0.861111
4  0.944444
5  0.916667
6  0.916667
7  0.916667
8  0.638889
9  0.527778

## Standarisasi data

membuat copy dataset

In [17]:
data_standar = datasplit.copy()

## Nilai sebelum di standarisasi

In [19]:
np.std(data_standar)

IMDB_Rating    2.753534e-01
Meta_score     1.236876e+01
No_of_Votes    3.272090e+05
Gross          1.050622e+08
dtype: float64

In [23]:
standard_scaler = StandardScaler()

In [25]:
X_standarisasi = standard_scaler.fit_transform(
    data_standar[[
        'IMDB_Rating','Meta_score','No_of_Votes','Gross']]
)

## nilai selesai di standarisasi

In [28]:
np.std(X_standarisasi)

nan

## data yang di standarisasi dimasukkan ke variabel dan dibuat DataFrame untuk ditampilkan

In [30]:
data_standarisasi_baru = pd.DataFrame(X_standarisasi)

In [31]:
data_standarisasi_baru.head()

          0         1         2         3
0  4.905332  0.163999  6.324451 -0.324667
1  4.542162  1.780977  4.115639  0.690208
2  3.815823  0.487395  6.202578  4.496449
3  3.815823  0.972488  2.616857 -0.049034
4  3.815823  1.457581  1.271824 -0.552926

## Data Cleaning

## cek dataset apakah ada nilai NULL

In [33]:
datasplit.isna().sum()

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate        0
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross              0
dtype: int64

## karena sudah ada nilai yg null, kita jumlah nilai rusak di atributnya

In [34]:
datasplit[datasplit.isnull().any(axis=1)]

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
20,https://m.media-amazon.com/images/M/MV5BOTc2ZT...,Soorarai Pottru,2020,U,153 min,Drama,8.6,"Nedumaaran Rajangam ""Maara"" sets out to make t...",NaN,Sudha Kongara,Suriya,Madhavan,Paresh Rawal,Aparna Balamurali,54995,12763
54,https://m.media-amazon.com/images/M/MV5BNWJhMD...,Ayla: The Daughter of War,2017,A,125 min,Biography,8.4,"In 1950, amid-st the ravages of the Korean War...",NaN,Can Ulkay,Erdem Can,Çetin Tekindor,Ismail Hacioglu,Kyung-jin Lee,34112,19381
55,https://m.media-amazon.com/images/M/MV5BY2FiMT...,Vikram Vedha,2017,UA,147 min,Action,8.4,"Vikram, a no-nonsense police officer, accompan...",NaN,Gayatri,Pushkar,Madhavan,Vijay Sethupathi,Shraddha Srinath,28401,1661296
57,https://m.media-amazon.com/images/M/MV5BMTQ4Mz...,Dangal,2016,U,161 min,Action,8.4,Former wrestler Mahavir Singh Phogat and his t...,NaN,Nitesh Tiwari,Aamir Khan,Sakshi Tanwar,Fatima Sana Shaikh,Sanya Malhotra,156479,12391761
65,https://m.media-amazon.com/images/M/MV5BMDhjZW...,Taare Zameen Par,2007,U,165 min,Drama,8.4,An eight-year-old boy is thought to be a lazy ...,NaN,Aamir Khan,Amole Gupte,Darsheel Safary,Aamir Khan,Tisca Chopra,168895,1223869
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
872,https://m.media-amazon.com/images/M/MV5BMTU5NT...,The Day the Earth Stood Still,1951,U,92 min,Drama,7.7,An alien lands and tells the people of Earth t...,NaN,Robert Wise,Michael Rennie,Patricia Neal,Hugh Marlowe,Sam Jaffe,76315,53309
874,https://m.media-amazon.com/images/M/MV5BYWUxMz...,Gilda,1946,Approved,110 min,Drama,7.7,A small-time gambler hired to work in a Buenos...,NaN,Charles Vidor,Rita Hayworth,Glenn Ford,George Macready,Joseph Calleia,27991,53509
899,https://m.media-amazon.com/images/M/MV5BNGMxZj...,El cuerpo,2012,A,112 min,Mystery,7.6,A detective searches for the body of a femme f...,NaN,Oriol Paulo,Jose Coronado,Hugo Silva,Belén Rueda,Aura Garrido,57549,37707919
909,https://m.media-amazon.com/images/M/MV5BMjI2OD...,Celda 211,2009,UA,113 min,Action,7.6,The story of two men on different sides of a p...,NaN,Daniel Monzón,Luis Tosar,Alberto Ammann,Antonio Resines,Manuel Morón,63882,35014392
913,https://m.media-amazon.com/images/M/MV5BMzc0Zm...,Die Welle,2008,UA,107 min,Drama,7.6,A high school teacher's experiment to demonstr...,NaN,Dennis Gansel,Jürgen Vogel,Frederick Lau,Max Riemelt,Jennifer Ulrich,102742,3186012

## kita ganti nilai null kolom bilangan dengan median

In [37]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='median')

## baikin kolom meta_score

In [39]:
datasplit['Meta_score'] = imputer.fit_transform(datasplit[['Meta_score']])

In [40]:
datasplit.isna().sum()

Poster_Link      0
Series_Title     0
Released_Year    0
Certificate      0
Runtime          0
Genre            0
IMDB_Rating      0
Overview         0
Meta_score       0
Director         0
Star1            0
Star2            0
Star3            0
Star4            0
No_of_Votes      0
Gross            0
dtype: int64

In [41]:
datasplit.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,Crime,9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,Action,9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,Crime,9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,Crime,9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000

## memperbaiki nilai duplikat

In [43]:
datasplit[datasplit.duplicated()]

Empty DataFrame
Columns: [Poster_Link, Series_Title, Released_Year, Certificate, Runtime, Genre, IMDB_Rating, Overview, Meta_score, Director, Star1, Star2, Star3, Star4, No_of_Votes, Gross]
Index: []

In [44]:
datasplit.drop_duplicates(inplace=True)

In [45]:
datasplit[datasplit.duplicated()]

Empty DataFrame
Columns: [Poster_Link, Series_Title, Released_Year, Certificate, Runtime, Genre, IMDB_Rating, Overview, Meta_score, Director, Star1, Star2, Star3, Star4, No_of_Votes, Gross]
Index: []

In [46]:
datasplit.duplicated().sum()

0

## mengganti tipe salah satu atribut angka

In [48]:
datasplit.dtypes

Poster_Link       object
Series_Title      object
Released_Year     object
Certificate       object
Runtime           object
Genre             object
IMDB_Rating      float64
Overview          object
Meta_score       float64
Director          object
Star1             object
Star2             object
Star3             object
Star4             object
No_of_Votes        int64
Gross              int64
dtype: object

## mengganti imdb_rating dari float64 menjadii int64

In [51]:
datasplit['IMDB_Rating'] = datasplit['IMDB_Rating'].astype('int64')

In [52]:
datasplit.dtypes

Poster_Link       object
Series_Title      object
Released_Year     object
Certificate       object
Runtime           object
Genre             object
IMDB_Rating        int64
Overview          object
Meta_score       float64
Director          object
Star1             object
Star2             object
Star3             object
Star4             object
No_of_Votes        int64
Gross              int64
dtype: object

## One-Hot Encoding

In [53]:
from sklearn.preprocessing import OneHotEncoder

In [54]:
onehot = OneHotEncoder(sparse=False)

In [64]:
onehot1 = onehot.fit_transform(datasplit[['IMDB_Rating']])

In [65]:
df_onehot1 = pd.DataFrame(onehot1)

In [70]:
datasplit.dtypes

Poster_Link       object
Series_Title      object
Released_Year     object
Certificate       object
Runtime           object
                  ...
543              float64
544              float64
545              float64
546              float64
547              float64
Length: 564, dtype: object

In [71]:
datasplit.head(10)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,...,538,539,540,541,542,543,544,545,546,547
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,Crime,9,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,Action,9,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,Crime,9,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,Crime,9,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,https://m.media-amazon.com/images/M/MV5BNzA5ZD...,The Lord of the Rings: The Return of the King,2003,U,201 min,Action,8,Gandalf and Aragorn lead the World of Men agai...,94.0,Peter Jackson,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,https://m.media-amazon.com/images/M/MV5BNGNhMD...,Pulp Fiction,1994,A,154 min,Crime,8,"The lives of two mob hitmen, a boxer, a gangst...",94.0,Quentin Tarantino,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,https://m.media-amazon.com/images/M/MV5BNDE4OT...,Schindler's List,1993,A,195 min,Biography,8,"In German-occupied Poland during World War II,...",94.0,Steven Spielberg,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,https://m.media-amazon.com/images/M/MV5BMjAxMz...,Inception,2010,UA,148 min,Action,8,A thief who steals corporate secrets through t...,74.0,Christopher Nolan,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,https://m.media-amazon.com/images/M/MV5BMmEzNT...,Fight Club,1999,A,139 min,Drama,8,An insomniac office worker and a devil-may-car...,66.0,David Fincher,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0