## Nama : Rafi Izdihaar
## Nim  : 2109106053
## Kelas: Informatika A'21

### Mengimport Library Panda dan Numpy

In [3]:
import pandas as pd
import numpy as np

### Membaca file csv (Korean Demographics)

In [4]:
df = pd.read_csv("Korean_demographics.csv")

### Membuat variabel jumlah record, nama atribut, jumlah atribut dengan tipe objek, jumlah atribut dengan tipe angka dan jumlah atribut yanng punya nilai null.

In [2]:
info = {
    'jml_record': 0,
    'atribut': [],
    'objek_atribut': 0,
    'angka_atribut': 0,
    'null_atribut': 0
}

### Memberi nilai pada variabel yang dibuat dari file csv

In [5]:
info['jml_record'] = df.shape[0]
info['atribut'] = list(df.columns.values)
info['null_atribut'] = list(df.loc[:, df.isnull().any()].columns)
info['objek_atribut'] = list(df.select_dtypes(['object']).columns)
info['angka_atribut'] = list(df.select_dtypes(['float64', 'int64']).columns)

### Menampilkan Jumlah Record

In [9]:
print("Jumlah Record :",info['jml_record'],'.')

Jumlah Record : 4860 .

### Menampilkan Nama Atribut

In [10]:
print("Nama-Nama Atribut :",info['atribut'],'.')

Nama-Nama Atribut : ['Date', 'Region', 'Birth', 'Birth_rate', 'Death', 'Death_rate', 'Divorce', 'Divorce_rate', 'Marriage', 'Marriage_rate', 'Natural_growth', 'Natural_growth_rate'] .

### Menampilkan Jumlah Atribut

In [14]:
print("Jumlah Semua Atribut :",len(info['atribut']),'.')

Jumlah Semua Atribut : 12 .

### Menampilkan Jumlah Atribut dengan Tipe Objek

In [15]:
print("Jumlah Atribut dengan Tipe Objek : ",info['objek_atribut'])
print("Jumlah :",len(info['objek_atribut']))

Jumlah Atribut dengan Tipe Objek :  ['Date', 'Region']
Jumlah : 2

### Menampilkan Jumlah Atribut dengan Tipe Null

In [16]:
print("Jumlah Atribut dengan Tipe Null : ",info['null_atribut'])
print("Jumlah :",len(info['null_atribut']))

Jumlah Atribut dengan Tipe Null :  ['Birth', 'Birth_rate', 'Death', 'Death_rate', 'Divorce', 'Divorce_rate', 'Marriage', 'Marriage_rate', 'Natural_growth', 'Natural_growth_rate']
Jumlah : 10

### Menampilkan Jumlah Atribut dengan Tipe Angka

In [17]:
print("Jumlah Atribut dengan Tipe Angka : ",info['angka_atribut'])
print("Jumlah :",len(info['angka_atribut']))

Jumlah Atribut dengan Tipe Angka :  ['Birth', 'Birth_rate', 'Death', 'Death_rate', 'Divorce', 'Divorce_rate', 'Marriage', 'Marriage_rate', 'Natural_growth', 'Natural_growth_rate']
Jumlah : 10

### Menampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

In [18]:
df.describe

<bound method NDFrame.describe of           Date             Region    Birth  Birth_rate    Death  Death_rate  \
0     1/1/2000              Busan   3752.0       11.61   1875.0         5.8
1     1/1/2000  Chungcheongbuk-do   1903.0       15.06    924.0         7.3
2     1/1/2000  Chungcheongnam-do   2398.0       14.75   1466.0         9.0
3     1/1/2000              Daegu   3057.0       14.39   1117.0         5.3
4     1/1/2000            Daejeon   1859.0       16.08    565.0         4.9
...        ...                ...      ...         ...      ...         ...
4855  6/1/2022       Jeollanam-do    565.0        3.80   1369.0         9.1
4856  6/1/2022             Sejong    248.0        7.90    106.0         3.4
4857  6/1/2022              Seoul   3137.0        4.10   3631.0         4.7
4858  6/1/2022              Ulsan    443.0        4.80    434.0         4.7
4859  6/1/2022      Whole country  18830.0        4.50  24850.0         5.9

      Divorce  Divorce_rate  Marriage  Marriage_rate  Natural_growth  \
0       814.0           2.5    2435.0            7.5          1877.0
1       220.0           1.7     828.0            6.6           979.0
2       321.0           2.0    1055.0            6.5           932.0
3       422.0           2.0    1577.0            7.4          1940.0
4       280.0           2.4     868.0            7.5          1294.0
...       ...           ...       ...            ...             ...
4855    299.0           2.0     479.0            3.2          -805.0
4856     43.0           1.4     123.0            3.9           141.0
4857   1088.0           1.4    2630.0            3.4          -494.0
4858    154.0           1.7     316.0            3.5             9.0
4859   7586.0           1.8   14898.0            3.5         -6019.0

      Natural_growth_rate
0                     5.8
1                     7.7
2                     5.7
3                     9.1
4                    11.2
...                   ...
4855                 -5.4
4856                  4.5
4857                 -0.6
4858                  0.1
4859                 -1.4

[4860 rows x 12 columns]>

### Menampilkan Nilai Korelasi Bertipe Angka

In [19]:
df.corr()

,Birth,Birth_rate,Death,Death_rate,Divorce,Divorce_rate,Marriage,Marriage_rate,Natural_growth,Natural_growth_rate
Birth,1.000000,0.110002,0.934279,-0.181224,0.974835,0.084391,0.966686,0.148506,0.902229,0.167821
Birth_rate,0.110002,1.000000,-0.045191,-0.341458,0.036455,0.356603,0.050223,0.511153,0.278198,0.889096
Death,0.934279,-0.045191,1.000000,-0.071622,0.960649,-0.000593,0.942133,0.049359,0.689173,0.002215
Death_rate,-0.181224,-0.341458,-0.071622,1.000000,-0.168498,-0.186864,-0.176636,-0.304388,-0.281653,-0.733623
Divorce,0.974835,0.036455,0.960649,-0.168498,1.000000,0.109055,0.966750,0.114971,0.819190,0.108527
Divorce_rate,0.084391,0.356603,-0.000593,-0.186864,0.109055,1.000000,0.061145,0.236258,0.172214,0.348964
Marriage,0.966686,0.050223,0.942133,-0.176636,0.966750,0.061145,1.000000,0.203672,0.825026,0.122346
Marriage_rate,0.148506,0.511153,0.049359,-0.304388,0.114971,0.236258,0.203672,1.000000,0.242091,0.517577
Natural_growth,0.902229,0.278198,0.689173,-0.281653,0.819190,0.172214,0.825026,0.242091,1.000000,0.338361
Natural_growth_rate,0.167821,0.889096,0.002215,-0.733623,0.108527,0.348964,0.122346,0.517577,0.338361,1.000000

### Mengubah Atribut menjadi Desimal

#### Sebelum merubah atribut 'Birth'

In [22]:
df.dtypes

Date                    object
Region                  object
Birth                  float64
Birth_rate             float64
Death                  float64
Death_rate             float64
Divorce                float64
Divorce_rate           float64
Marriage               float64
Marriage_rate          float64
Natural_growth         float64
Natural_growth_rate    float64
dtype: object

In [35]:
df['Birth'] = df['Birth'].astype('float64')/1000
df['Birth']

0        3.752
1        1.903
2        2.398
3        3.057
4        1.859
         ...
4855     0.565
4856     0.248
4857     3.137
4858     0.443
4859    18.830
Name: Birth, Length: 4860, dtype: float64

#### Sesudah merubah atribut 'Birth'

In [28]:
df.head(10)

,Date,Region,Birth,Birth_rate,Death,Death_rate,Divorce,Divorce_rate,Marriage,Marriage_rate,Natural_growth,Natural_growth_rate
0,1/1/2000,Busan,3752.0,11.61,1875.0,5.8,814.0,2.5,2435.0,7.5,1877.0,5.8
1,1/1/2000,Chungcheongbuk-do,1903.0,15.06,924.0,7.3,220.0,1.7,828.0,6.6,979.0,7.7
2,1/1/2000,Chungcheongnam-do,2398.0,14.75,1466.0,9.0,321.0,2.0,1055.0,6.5,932.0,5.7
3,1/1/2000,Daegu,3057.0,14.39,1117.0,5.3,422.0,2.0,1577.0,7.4,1940.0,9.1
4,1/1/2000,Daejeon,1859.0,16.08,565.0,4.9,280.0,2.4,868.0,7.5,1294.0,11.2
5,1/1/2000,Gangwon-do,1966.0,14.91,1067.0,8.1,304.0,2.3,817.0,6.2,899.0,6.8
6,1/1/2000,Gwangju,2159.0,18.77,606.0,5.3,212.0,1.8,932.0,8.1,1553.0,13.5
7,1/1/2000,Gyeonggi-do,13527.0,17.85,3770.0,5.0,1931.0,2.5,5759.0,7.6,9757.0,12.9
8,1/1/2000,Gyeongsangbuk-do,3362.0,14.14,2230.0,9.4,406.0,1.7,1691.0,7.1,1132.0,4.8
9,1/1/2000,Gyeongsangnam-do,3928.0,15.05,2125.0,8.1,577.0,2.2,2092.0,8.0,1803.0,6.9

In [33]:
df.dtypes

Date                    object
Region                  object
Birth                  float64
Birth_rate             float64
Death                  float64
Death_rate             float64
Divorce                float64
Divorce_rate           float64
Marriage               float64
Marriage_rate          float64
Natural_growth         float64
Natural_growth_rate    float64
dtype: object

### Menampilkan 10 Record pertama Atribut Angka

In [34]:
dh = df.select_dtypes(include=np.number)
dh.head(10)

,Birth,Birth_rate,Death,Death_rate,Divorce,Divorce_rate,Marriage,Marriage_rate,Natural_growth,Natural_growth_rate
0,3752.0,11.61,1875.0,5.8,814.0,2.5,2435.0,7.5,1877.0,5.8
1,1903.0,15.06,924.0,7.3,220.0,1.7,828.0,6.6,979.0,7.7
2,2398.0,14.75,1466.0,9.0,321.0,2.0,1055.0,6.5,932.0,5.7
3,3057.0,14.39,1117.0,5.3,422.0,2.0,1577.0,7.4,1940.0,9.1
4,1859.0,16.08,565.0,4.9,280.0,2.4,868.0,7.5,1294.0,11.2
5,1966.0,14.91,1067.0,8.1,304.0,2.3,817.0,6.2,899.0,6.8
6,2159.0,18.77,606.0,5.3,212.0,1.8,932.0,8.1,1553.0,13.5
7,13527.0,17.85,3770.0,5.0,1931.0,2.5,5759.0,7.6,9757.0,12.9
8,3362.0,14.14,2230.0,9.4,406.0,1.7,1691.0,7.1,1132.0,4.8
9,3928.0,15.05,2125.0,8.1,577.0,2.2,2092.0,8.0,1803.0,6.9

Menyimpan dataset bertipe angka de dalam file csv

In [38]:
df[['Birth','Birth_rate','Death','Death_rate','Divorce','Divorce_rate','Marriage','Marriage_rate','Natural_growth','Natural_growth_rate']].to_csv("hanya_atribut_angka.csv")